
# mapping between hostname and kernel parameters. 
declare -A map_hostname_to_kparam=(
    # Parameters can not contain `|` character, which will crash this naive script. 
    # hostname MUST be in lowercase, because `hook-kernel-rename.sh` converts hostname to lowercase. 
    # kernel parameters MUST at least contain `root=xxx rw` to make kernel working. 
    # This is some examples: 
    ["recolicpc"]="root=/dev/mapper/RecolicpcVolGroup-root rw quiet amdgpu.ppfeaturemask=0xffffffff cryptdevice=/dev/disk/by-id/nvme-SAMSUNG_MZVLW256HEHP-xxxxxxxxxxxx:cryptlvm:allow-discards cryptkey=/dev/disk/by-partlabel/xxxxxxxx:0:64 crypto=:aes-xts-plain64:512:0:"
    ["recolicmpc"]="root=/dev/mapper/RecolicmpcVolGroup-root rw quiet cryptdevice=/dev/disk/by-id/ata-SAMSUNG_MZNTY128HDHP-000xxxxxxxxxx:cryptlvm:allow-discards cryptkey=/dev/disk/by-partlabel/xxxxxxx:0:64 crypto=:aes-xts-plain64:512:0: resume=/dev/RecolicmpcVolGroup/swap"
    ["recolicmsmpc"]="root=/dev/mapper/RecolicmsmpcVolGroup-root rw quiet cryptdevice=/dev/disk/by-id/xxxxxxxxxxxxxxxxxx:cryptlvm cryptkey=/dev/disk/by-partlabel/xxxxxxxx:0:64 crypto=xxxxxxxxxxxxxxxxxxxxxx"
)

